beautifulsoup4==4.13.4
Django==5.2.1
gunicorn==23.0.0
passlib==1.7.4
pillow==10.4.0
platformdirs==4.3.6
psycopg2==2.9.10
pyparsing==3.1.4
python-dateutil==2.9.0.post0
pytz==2024.2
requests==2.32.3
setuptools==80.9.0
soupsieve==2.7
sqlparse==0.5.3
tomlkit==0.13.2
typing_extensions==4.13.2
tzdata==2024.1
